html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 18px;
  color: #8794BA;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  color: #172755;
}

.h2 {
  font-weight: 700;
  color: white;
  font-size: 50px;
  word-spacing: 3px;
}

.title {
  color: white;
}

ul,
li {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

ul {
  justify-content: space-between;
}